* {
  padding: 0;
  margin: 0;
  color: #444444;
}

body {
  height: auto;
  width: 100%;
  font-family: var(--text), -apple-system;
  background-color: #fff;
  overflow-x: hidden;
}

nav, footer {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  /* 283618 --> Verde fuerte*/
  /* BC6C25 --> Cáfe */
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  padding: 4px 16px;
  border-bottom: 2px solid #EBEBEB;
  justify-content: space-around;
}

#brand {
  font-family: var(--title), sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
}

.title {
  font-family: var(--title);
  font-style: italic;
  font-size: 38px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 16px;
  width: 100%;
  height: auto;
  font-size: 12px;
  flex-direction: column;
  text-align: center;
  color: #444;
  border-top: 2px solid #EBEBEB;
  gap: 8px;
}

#menu {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

#address {
  padding: 0;
}

a:hover {
  cursor: pointer;
  text-decoration: 1px underline #444;
}

#container {
  width: auto;
  height: auto;
  min-height: 500px;
  margin: 98px 0 16px 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 28px;
}

article, aside {
  width: 45%;
  max-height: 350px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  flex-direction: column;
  gap: 16px;
}

#explore {
  width: 10em;
  margin-right: auto;
}

#explore, #about {
  border-radius: 6px;
  background-color: #444444;
  border: 1px solid #f6f6f6;
  color: #f6f6f6;
  font-family: var(--title);
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
}

#explore:hover, #about:hover {
  background-color: #f6f6f6;
  border: 1px solid #444;
  color: #444;
}

#img-hero {
  width: 60%;
  height: auto;
}

#social-media {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social {
  width: 24px;
}

#personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

#love {
  font-family: var(--title);
  font-style: italic;
  font-weight: bold;
}